//Remember to set the containing element to relative.

@mixin triangles($size, $color, $on-top: 'false', $border: 'false', $media: 'false', $bcolor: '', $bxcolor: '') {
  &::after {
    border: solid transparent;
    border-top-color: #{$color};
    border-width: #{$size / 2}px #{$size / 2}px 0 #{$size / 2}px;
    content: '';
    height: 0;
    // left: 50%;
    // margin-left: -#{$size / 2}px;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    position: absolute;
    transform: rotate(360deg);
    top: 100%;
    width: 0;

  @if ($media == true) {
    @media(min-width: $mq-tiny) {
      border-width: #{$size}px #{$size}px 0 #{$size}px;
      // margin-left: -#{$size}px;
    }
  }


  @if ($on-top == true) {
      z-index: 10;
    }
  }
    
  @if ($border == true) {
    box-shadow: 3px 3px 0 0 #{$bxcolor};

    &::before {
      border: solid transparent;
      border-color: #{rgba($bcolor, 0)};
      border-top-color: #{$bxcolor};
      border-width: #{$size + 1}px;
      content: '';
      left: 0;
      right: 0;
      margin: 1px auto 0;
      // margin-left: -#{$size - 2}px;
      margin-top: 1px;
      position: absolute;
      transform: rotate(360deg);
      height: 0;
      // left: 50%;
      top: 100%;
      width: 0;
    }
  }
}